/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mai 2019, 18:37:39
    Author     : GRAZIA GIULIA
*/

/*<style>*/
            
        body {
            font-family: Arial;
            background-color: #bbb;
        }
        
        .div{
          float: top;
          overflow: auto;
        }
        
        .connect {
          float: left;
          overflow: auto;
          border: 1px solid #999;
          background-color: #bbb;
        }
        
        .connect div{
          float: left;
          overflow: auto;
          border: 1px solid #999;
          background-color: #ccc;
        }
     
        
        .wb-tabs {
          float: left;
          overflow: hidden;
          border: 1px solid #999;
          background-color: #bbb;
        }

        /* Style the tab */
        .tabpanels p{
          overflow: auto;
          border: 1px solid #999;
          background-color: inherit;
          /*padding: 10px;*/
          float: top;
        }
        .tabpanels summary{
          overflow: hidden;
          border: 1px solid #999;
          background-color: inherit;
          position: sticky; /*pour la garder avec le scrolll*/
        }
        .tabpanels details{
          float: right;
          overflow: auto;
          border: 1px solid #999;
          background-color: #bbb;
        }

        /* Style the buttons inside the tab */
        .tabpanels button {
          background-color: #ccc;
          float: right;
          border: 1px solid #aaa;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 14px;
        }
        
        .tabpanels button:hover {
          background-color: #9a3;
          float: right;
          border: 1px solid #9b4;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 14px;
        }

        /* Change background color of buttons on hover */
        .tabpanels details:disabled{
          background-color: #222;
        }

        /* Create an active/current tablink class */
        .tabpanels details:hover{
          background-color: #9da;
        }

    /*  </style>  */  